<html>
<head>
    <title>To Do List</title>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.js"></script>
    {% load static %}

    <script src="{% static 'js/todo.js' %}"></script>

</head>
<body>
<h1>to do list</h1>
<div ng-app="todo" ng-controller="todoController">
    <form  ng-submit="add()">

        <input type="text" ng-model="input">
        <input type="submit" value="Submit">
    </form>
    {% verbatim %}
    {% endverbatim %}
    <div ng-repeat="todo in todoList">
        <input type="checkbox" ng-model="todo.done"><span ng-bind="todo.todoText"></span>
    </div>
    <br>
    <button ng-click="remove()">Done</button>
</div>


</body>
</html>






